<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlleyFit 2025  | Cadastro</title>
    <link rel="stylesheet" href="./../assets/css/cadastro.css">
</head>

<body>

 <header class="cabecalho-texto-ul">
    <ul class="cabecalho-texto-ul">
      <a href="./index.html"><li> - HOME</li></a>
    </ul>
    <div class="logo-pai-ul">
      <img src="../assets/img-assets/logo-street-removebg-preview.png" alt="Logo AlleyFit" class="logo-cabecalho-img">
    </div>
    <div class="cabecalho-login-lupa">
      <img src="../assets/img-assets/pesquisa-de-lupa.png" alt="Busca" class="assets-cabecalho-img">
      <img src="../assets/img-assets/perfil-de-usuario.png" alt="Perfil" class="assets-cabecalho-img">
      <img src="../assets/img-assets/carrinho-de-compras.png" alt="Perfil" class="assets-cabecalho-img">
    </div>
  </header>


  <main>
    <section class="container-esquerdo">
        <div class="logo-pai">
            <img src="./../assets/img-assets/logo-street-dando-mortal-removebg-preview.png" alt="">
        <p>Trazendo o melhor visual para você!</p>
        </div>
        <h1>Bem-Vindo</h1>
        <h1>de volta!</h1>
        <p>acesse sua conta agora mesmo.</p>

        <div class="link-pai">
            <a class="entrar-link" href="./login.html">ENTRAR</a>
            <a class="esqueci-senha-link" href="#">Esqueci minha senha</a>
        </div>
    </section>


    <section class="container-direito">
        <div class="pai-titulo">
            <h1>Crie sua conta</h1>
            <p>Preencha seus dados</p>
        </div>

        <form action="post">
            <input type="text" id="nome" placeholder="Nome">
            <input id type="email" placeholder="Email" id="email">
            <input type="password" placeholder="Senha" id="senha">

            <button type="submit" onclick="enviarCadastro">CADASTRAR</button>
        </form>
    </section>
  </main>

</body>

</html>