<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlleyFit 2025  | About Us </title>
    <link rel="stylesheet" href="../assets/css/contato.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <!-- Header -->
  <header class="cabecalho-texto-ul">
    <ul class="cabecalho-texto-ul">
      <a href="#"><li>HOME</li></a>
      <a href="./produtos.html"><li>PRODUCT</li></a>
      <a href="./sobre.html"><li>ABOUT</li></a>
     <a href="./contato.html"><li>CONTACT</li></a>
    </ul>
    <div class="logo-pai-ul">
      <img src="../assets/img-assets/logo-street-removebg-preview.png" style="cursor: pointer;" alt="Logo AlleyFit" class="logo-cabecalho-img">
    </div>


    <div class="cabecalho-login-lupa">
      <img src="../assets/img-assets/pesquisa-de-lupa.png" alt="Busca" class="assets-cabecalho-img">
     <a href="./cadastro.html"><img src="../assets/img-assets/perfil-de-usuario.png" alt="Perfil" class="assets-cabecalho-img"></a> 
      <img src="../assets/img-assets/carrinho-de-compras.png" alt="Perfil" class="assets-cabecalho-img">
    </div>
  </header>

    <main>
        <img src="../images/fundo-contato.jpg" alt="">
    </main>

    <section class="section-principal">

        <div class="container-esquerdo">

            <div class="titulo-info-pai">
                <h1>Informações de contato</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
                    voluptate repellendus rerum commodi</p>
            </div>

            <div class="info-contatos-pai">
                <div class="info-contato-filho">
                    <span><img src="./../assets/img-assets/telefone.png" alt=""><b>+55 (27) 99201-9012</b></span>
                </div>

                <div class="info-contato-filho">
                    <span><img src="./../assets/img-assets/o-email.png"
                            alt=""><b>assistent@alleyfitsuporte.com</b></span>
                </div>

                <div class="info-contato-filho">
                    <span><img src="./../assets/img-assets/local.png" alt=""><b> 202 Cistina Dr, Pedorioa, Lulle.
                            6780</b></span>
                </div>

                <div class="horarios-pai">
                    <p>Segunda-Sexta</p>
                    <span><img src="./../assets/img-assets/relogio.png" alt=""><b>9:00 AM - 6:00 PM</b></span>
                </div>

            </div>

            <div class="rede-social-pai">
                <span><img src="./../assets/img-assets/instagram-1.png" alt=""></span>
                <span><img src="./../assets/img-assets/linkedin-1.png" alt=""></span>
                <span><img src="./../assets/img-assets/facebook-2.png" alt=""></span>
            </div>

        </div>


        <div class="container-direito">
            <form action="#">


                <div class="form-1">
                    <div class="form-nome">
                        <h3>Nome</h3>
                        <input type="text" placeholder="Nome" id="nome" required>
                    </div>

                    <div class="form-sobrenome">
                        <h3>Sobrenome</h3>
                        <input type="text" placeholder="Sobrenome" id="sobrenome" required>
                    </div>
                </div>


                <div class="form-2">
                    <div class="form-email">
                        <h3>Email</h3>
                        <input type="email" placeholder="exemplo@gmail.com" id="email" required> 
                    </div>
                </div>

                <div class="form-telefone">
                    <h3>Telefone de contato</h3>
                    <input type="tel" placeholder="(44) 99999-9999" id="telefone">
                </div>

                <div class="form-mensagem">
                    <h3>Mensagem</h3>
                    <input type="text" placeholder="Digite sua mensagem" id="mensagem">
                </div>
            </form>
        </div>
    </section>