<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlleyFit 2025 | Login </title>
    <link rel="stylesheet" href="./../assets/css/login.css">
</head>

<body>
 <!-- Header -->
  <header class="cabecalho-texto-ul">
    <ul class="cabecalho-texto-ul">
      <a href="#"><li>HOME</li></a>
      <a href="./produtos.html"><li>PRODUCT</li></a>
      <a href="./sobre.html"><li>ABOUT</li></a>
     <a href="./contato.html"><li>CONTACT</li></a>
    </ul>
    <div class="logo-pai-ul">
      <img src="../assets/img-assets/logo-street-removebg-preview.png" style="cursor: pointer;" alt="Logo AlleyFit" class="logo-cabecalho-img">
    </div>


    <div class="cabecalho-login-lupa">
      <img src="../assets/img-assets/pesquisa-de-lupa.png" alt="Busca" class="assets-cabecalho-img">
     <a href="./cadastro.html"><img src="../assets/img-assets/perfil-de-usuario.png" alt="Perfil" class="assets-cabecalho-img"></a> 
      <img src="../assets/img-assets/carrinho-de-compras.png" alt="Perfil" class="assets-cabecalho-img">
    </div>
  </header>


    <main>



        <section class="container-direito">
            <div class="pai-titulo">
                <h1>Login</h1>
                <p>Preencha seus dados</p>
            </div>

            <form action="post">
                <input id type="email" placeholder="Email" id="email">
                <input type="password" placeholder="Senha" id="senha">

                <button type="submit" onclick="enviarCadastro">ENTRAR</button>
            </form>
        </section>

        <section class="container-esquerdo">
            <div class="logo-pai">
                <img src="./../assets/img-assets/logo-street-dando-mortal-removebg-preview.png" alt="">
                <p>Trazendo o melhor visual para você</p>
            </div>
            <h1>Crie sua conta agora mesmo!

            </h1>


            <div class="link-pai">
                <a class="entrar-link" href="#">CADASTRAR</a>
        </section>

    </main>

</body>

</html>